USE [master]
GO
/****** Object:  Database [JDB]    Script Date: 6/20/2021 8:45:39 PM ******/
CREATE DATABASE [JDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JDB]
GO
/****** Object:  Table [dbo].[VentilatorCompanyIDs]    Script Date: 6/20/2021 8:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentilatorCompanyIDs](
	[ID] [int] NULL,
	[Brand] [varchar](50) NULL,
	[Lifespan[Yrs]]] [int] NULL,
	[ManufacturerID] [varchar](50) NULL,
	[PurchaseDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventilators]    Script Date: 6/20/2021 8:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventilators](
	[ID] [int] NOT NULL,
	[QTY] [int] NOT NULL,
	[DIV] [varchar](50) NOT NULL,
	[Unit-PR] [money] NOT NULL,
	[Service Line] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
